# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  push:
    branches:
      - master
    tags:        
      - 1.*

env:
  FLUTTER_VERSION: "3.32.x"
  WORKING_DIRECTORY: ./example


jobs:
  build_android:
    name: Build Flutter (Android)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v2
      with:
        java-version: '17.x'
        distribution: 'zulu'
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        flutter-version: ${{env.FLUTTER_VERSION}}
    - name: Dependencies
      run: flutter pub get
      working-directory: ${{env.WORKING_DIRECTORY}}
    - name: Build APK
      working-directory: ${{env.WORKING_DIRECTORY}}
      run: flutter build apk --debug
  build_ios:
    name: Build Flutter (iOS)
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - uses: subosito/flutter-action@v2
      with:
          channel: "stable"
          flutter-version: ${{env.FLUTTER_VERSION}}
          architecture: x64
    - name: Dependencies
      run: flutter pub get
      working-directory: ${{env.WORKING_DIRECTORY}}
    - name: Build IPA
      working-directory: ${{env.WORKING_DIRECTORY}}
      run: flutter build ios --release --no-codesign
